# Avoid notifying everyone every PR
*

# PvE Combos
/GluttonyCombo/Combos/PvE/AST/                           @edewen
/GluttonyCombo/Combos/PvE/BLM/                           @Kagekazu
/GluttonyCombo/Combos/PvE/BLU/                           @zbee
/GluttonyCombo/Combos/PvE/BRD/                           @edewen
/GluttonyCombo/Combos/PvE/DNC/                           @zbee
/GluttonyCombo/Combos/PvE/DRG/                           @Kagekazu
/GluttonyCombo/Combos/PvE/DRK/                           @zbee
/GluttonyCombo/Combos/PvE/GNB/                           @Akechi-kun
/GluttonyCombo/Combos/PvE/MCH/                           @Kagekazu
/GluttonyCombo/Combos/PvE/MNK/                           @Kagekazu
/GluttonyCombo/Combos/PvE/NIN/                           @edewen
/GluttonyCombo/Combos/PvE/PCT/                           @edewen
/GluttonyCombo/Combos/PvE/PLD/                           @Kaeris-Tempest @edewen
/GluttonyCombo/Combos/PvE/RDM/                           @edewen
/GluttonyCombo/Combos/PvE/RPR/                           @Kagekazu
/GluttonyCombo/Combos/PvE/SAM/                           @Kagekazu
/GluttonyCombo/Combos/PvE/SCH/                           @edewen
/GluttonyCombo/Combos/PvE/SGE/                           @Kagekazu @edewen
/GluttonyCombo/Combos/PvE/SMN/                           @edewen
/GluttonyCombo/Combos/PvE/VPR/                           @Kagekazu
/GluttonyCombo/Combos/PvE/WAR/                           @edewen
/GluttonyCombo/Combos/PvE/WHM/                           @edewen

# PvP Combos
/GluttonyCombo/Combos/PvP/                               @Kaeris-Tempest @edewen
/GluttonyCombo/Combos/PvP/BRDPVP.cs                      @edewen
/GluttonyCombo/Combos/PvP/BLMPVP.cs                      @Kaeris-Tempest
/GluttonyCombo/Combos/PvP/RDMPVP.cs                      @Kaeris-Tempest
/GluttonyCombo/Combos/PvP/SAMPVP.cs                      @Kaeris-Tempest
/GluttonyCombo/Combos/PvP/VPRPVP.cs                      @Kaeris-Tempest

# Other Owners
/res/motd.txt                                         @Taurenkey
/GluttonyCombo/Data/ActionWatching.cs                    @Taurenkey
/GluttonyCombo/AutoRotation/                             @Taurenkey
/GluttonyCombo/CustomCombo/                              @Taurenkey
/GluttonyCombo/CustomCombo/Functions/                    @Taurenkey
/GluttonyCombo/Core/                                     @Taurenkey
/GluttonyCombo/Services/IPC_Subscriber/Orbwalker.cs      @Taurenkey
/GluttonyCombo/CustomCombo/Functions/Target.cs           @Taurenkey @Kaeris-Tempest
/GluttonyCombo/Core/ActionRetargeting.cs                 @zbee
/GluttonyCombo/CustomCombo/SimpleTarget.cs               @zbee
/docs/                                                @zbee
/CONTRIBUTING.md                                      @zbee
/GluttonyCombo/Services/IPC/                             @zbee
/res/ipc_status.txt                                   @zbee
/GluttonyCombo/Data/ContentCheck.cs                      @zbee
/GluttonyCombo/Data/Conflicts                            @zbee
/GluttonyCombo/Services/IPC_Subscriber/                  @zbee
/GluttonyCombo/Combos/PvE/Content/Bozja.cs               @zbee @Akechi-kun
/GluttonyCombo/CustomCombo/StancePartner.cs              @zbee

# Protect the owners file
/docs/CODEOWNERS                                      @Taurenkey @zbee
